<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantDB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Dish Ingredients</h1>

      <% dish.forEach(function(dat) { %>
        <table class="res">
            <tr>
                <td class="ratt"><%= dat.dishname %></td>
                <%  if(dat.count == null) dat.count=0; %>
                <td class="ratt"># of Ingredients: <%= dat.count %></td>
                <td class="ratt">Price: <%= dat.price %></td>
            </tr>
        <% if(dat.ingredient != null) {
          dat.ingredient.forEach(function(i) { %>
         <tr>
            <td class="rdesc"><%= i.ingredientname %></td>
           <td class="rdesc">id: <%= i.ingredientid %></td>
           <td class="rdesc">Amount: <%= i.amount %> </td>
         </tr>
         <% }); 
        } %>

        </table>
      <% }); %>

      <h1>All Ingredients</h1>

      <% data.forEach(function(dat) { %>
        <table class="res">
            <tr>
                <td class="ratt"><%= dat.ingredientname %></td>
                <td class="rdesc">id: <%= dat.ingredientid %></td>
                <td class="rdesc">Amount: <%= dat.amount %> </td>
            </tr>
         <tr>
           <td class="rdesc">Date Produced: <%= dat.dateproduced %></td>
           <td class="rdesc">Date Expired: <%= dat.expirydate %> </td>
         </tr>

        </table>
      <% }); %>

      <form class = "example" action="/use" method="POST">
        <p>Update Ingredient Used</p>
        <input type="text" placeholder="Dish Name" name="dish">
        <input type="text" placeholder="Ingredient ID before or -1 for none" name="before">
        <input type="text" placeholder="Ingredient ID after or -1 for none" name="after">
        <input type="text" placeholder="Amount" name="amount">
        <button type="submit">Submit</button>
      </form>


      <form class="example" action="/profile" method="GET">
        <button type="submit">Back</button>
      </form>
  </body>
</html>
