<!DOCTYPE html>
<html>
  <head>
    <title>RestaruantDB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
            <table class="res">
             <tr>
               <td class="rname"><%= name %></td>
               <td class="rname"><%= rating %>/5 </td>
             </tr>
             <tr>
               <td class="ratt">Type: <%= type %></td>
               <td class="ratt">Address: <%= addr %></td>
             </tr>
             <tr>
               <td class="rdesc">Description: <%= desc %></td>
             </tr>
            </table>

            <h2>Images</h2>
            <div style="margin-left:10%; width:80%;">
            <% image.forEach(function(dat) { %>
              <div style="max-width: 250px; display: inline-flex; border-style: solid; margin:10px; border-width: 1px;">
                <div style="display: flex;"><%= dat.tag %></div>
                <div style="display: flex;"><img src="<%= dat.link%>" height="100" width="100"/></div>
              </div>
            <% }); %>
          </div>
            
            <h2>Dishes</h2>
            <% dish.forEach(function(dat) { %>
              <table class="res">
               <tr>
                 <td class="ratt"><%= dat.dishname %></td>
               </tr>
               <tr>
                 <td class="rdesc">Price: <%= dat.price %></td>
               </tr>
               <tr>
                 <td class="rdesc">Available Until: <%= dat.availableuntil %></td>
               </tr>
              </table>
            <% }); %>

            <h2>Reviews</h2>

            <% review.forEach(function(dat) { %>
              <table class="res">
               <tr>
                 <td class="ratt"><%= dat.customername %></td>
                 <td class="ratt"><%= dat.rating %>/5 </td>
               </tr>
               <tr>
                 <td class="rdesc">Date <%= dat.reviewdate %></td>
               </tr>
               <tr>
                 <td class="rdesc">Comments: <%= dat.reviewdescription %></td>
               </tr>
              </table>
            <% }); %>
  
            <% if(status==-1){ %>
              <h3 style="color:red">Tag taken please use another tag!</h3>
              <% }%>

            <form class = "example" action="/image?rid=<%= rid%>" method="POST">
              <input type="text" placeholder="TAG" name="tag">
              <input type="text" placeholder="image url" name="url">
                <button type="submit">Upload Image</button>
            </form>      
          
    <form class = "example" action="/review?rid=<%= rid%>" method="POST">
      <input type="text" placeholder="Name" name="name">
      <input type="text" placeholder="rating" name="rating">
        <textarea rows="3" cols="150" type="text" placeholder="Write reviews for this restaruant" name="review"></textarea>
        <button type="submit">Submit</button>
    </form>

    <form class="example" action="/main" method="GET">
      <button type="submit">Back</button>
    </form>
  </body>
</html>
